{% extends 'base.html.twig' %}

{% block title %}Профиль{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Профиль пользователя</h1>

        <p><strong>Email:</strong> {{ email }}</p>
        <p><strong>Роль:</strong> {{ roles|join(', ') }}</p>
        <p><strong>Баланс:</strong> {{ balance }} RUB
            <a href="{{ path('profile_transactions') }}" class="btn btn-link ms-2">История транзакций</a>
        </p>
    </div>
{% endblock %}
