{% extends 'base.html.twig' %}

{% block title %}Courses{% endblock %}

{% block body %}
<h1>Courses</h1>
<ul>
    {% for course in courses %}
        <li>
            <a href="{{ path('course_show', {'id': course.id}) }}">{{ course.name }}</a>
            <p>{{ course.description }}</p>
        </li>
    {% else %}
        <li>No courses found</li>
    {% endfor %}
</ul>

<a href="{{ path('course_new') }}">Add new course</a>
{% endblock %}
